.not{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.home-container {


    text-align: center;
    background-color: #fff;
    /* margin-top: 50px; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-box {
    margin-bottom: 20px;
}

#welcome-message {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
